.container {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.container h1{
  text-align: center;
  flex: 1 1 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: 2px solid grey;
  padding: 1rem;
}

.card:nth-of-type(1)  { background: #F4BFBF; }
.card:nth-of-type(2)  { background: #9ADCFF; }
.card:nth-of-type(3)  { background: #F9F3EE; }
.card:nth-of-type(4)  { background: #CCF3EE; }